[#- keep a list of included mixins so they don't get repeated for templates #]
[%- set included_mixins = [] -%]

[%- macro render_mixins(src) -%]
[#- store all methods in a list so we can properly sort them all #]
[%- set methods = {} %]
[%- for mixin_name in src %]
[%- do included_mixins.append(mixin_name) %]
[%- for method in tables[mixin_name].methods %]
[%- do methods.update({method: mixin_name}) %]
[%- endfor %]
[%- endfor %]
[#- render the sorted methods #]
[%- for method in methods.keys() | sort %]
[%- set mixin_name = methods[method] %]
[%- if tables[mixin_name].methods[method].signature | length > 0 %]
[%- if tables[mixin_name].methods[method].returns | length > 0 %]
: {{apilink|t=Function|[[ name ]]:[[ method ]]|arg=[[ tables[mixin_name].methods[method].signature | map(attribute='name') | join(', ') ]]|ret=[[ tables[mixin_name].methods[method].returns | map(attribute='name') | join(', ') ]]}}
[%- else %]
: {{apilink|t=Function|[[ name ]]:[[ method ]]|arg=[[ tables[mixin_name].methods[method].signature | map(attribute='name') | join(', ') ]]}}
[%- endif %]
[%- elif tables[mixin_name].methods[method].returns | length > 0 %]
: {{apilink|t=Function|[[ name ]]:[[ method ]]|ret=[[ tables[mixin_name].methods[method].returns | map(attribute='name') | join(', ') ]]}}
[%- else %]
: {{apilink|t=Function|[[ name ]]:[[ method ]]}}
[%- endif %]
[%- endfor %]
[%- endmacro -%]

{{intrinsic}} {{tocright}}
{| {{apitable}}}
{{apirow | Instantiation | <code>{{api|CreateFrame}}("[[name]]")</code>}}
|}

This is an [% raw %][[intrinsic frame]][% endraw %]. It has all the methods from {{api|t=o|[[ data.type ]]}} and these mixins:
[%- for mixin in data.mixins | sort %]
* {{tlygo|[[ mixin ]]}}
[%- endfor %]
[% for template in data.templates %]
[%- if templates[template].mixins | length > 0 %]
If {{tlygo|[[ template ]]}} is inherited the methods from these mixins are also available:
[%- for mixin in templates[template].mixins | sort %]
* {{tlygo|[[ mixin ]]}}
[%- endfor %]
[%- endif %]
[%- endfor %]

[%- if data.aspects | length > 0 %]

==Forbidden Aspects==
This data object has these [% raw %][[forbidden aspect]]s[% endraw %] attached to it, which will restrict which methods and script types it can access.
{| class="darktable zebra"
! Enum.ForbiddenAspect !! Description
[%- for aspect in data.aspects %]
{{api.enumsection|ForbiddenAspect|[[ aspect ]]}}
[%- endfor %]
|}
[%- endif %]

==Methods==
{| class="darktable zebra"
| <section begin=IntrinsicMethods/>
[[- render_mixins(data.mixins) ]]<section end=IntrinsicMethods/>
[%- for template in data.templates %]
[%- if templates[template].mixins | length > 0 %]
------ <span style="font-size: 110%;">Methods inherited from {{tlygo|[[ template ]]}}:</span>
[[- render_mixins(templates[template].mixins) ]]
[%- endif %]
[%- endfor %]
|-
[%- if data.type == 'Button' %]
| {{:UIOBJECT_Button|method}}
[%- else %]
|
[%- endif %]
|- class="mw-customtoggle-methods"
| Collapse
|- class="mw-collapsible" id="mw-customcollapsible-methods"
|
{{:UIOBJECT_Frame|method}}
{{:UIOBJECT_Region|method}}
{{:UIOBJECT_ScriptRegion|method}}
{{:UIOBJECT_ScriptRegionResizing|method}}
{{:UIOBJECT_AnimatableObject|method}}
{{:UIOBJECT_Object|method}}
{{:UIOBJECT_FrameScriptObject|method}}
|}

==Script Types==
{| class="darktable zebra"
|
[%- if data.type == 'Button' %]
{{:UIOBJECT_Button|script}}
[%- endif %]
{{:UIOBJECT_Frame|script}}
{{:UIOBJECT_ScriptRegion|script}}
|}
