{{wowapitype}} [% raw %][[Category:FrameXML types]][% endraw %]

<onlyinclude>{| class="sortable darktable zebra" {{apitable.style}}
|+ {{apitable.captionstyle}} | {{#if:{{{nocaption|}}}||[[ name ]]}}
! Field !! Type !! Description
[%- for field in data.fields %]
|-
| {{apiname|[[ field.name ]]}} || {{apitype|[[ field.type ]][% if field.value is defined %]?[% if field.value != 'nil' %]|default=[[ field.value ]][% endif %][% endif %]}} || [[ field.comment ]]
[%- endfor %]
|}</onlyinclude>

[%- if data.comment | length > 0 %]
==Details==
[[ data.comment ]]
[%- endif %]
