{{framexmltype}}

<onlyinclude>{| class="sortable darktable zebra" {{apitable.style}}
|+ {{apitable.captionstyle}} | {{#if:{{{nocaption|}}}||[[ name ]]}}
[%- set non_number_types = data.fields | rejectattr('type', 'equalto', 'number') | list %]
[%- if non_number_types | length > 0 %]
! Field !! Type !! Description
[%- for field in data.fields %]
|-
| {{apiname|[[ field.name ]]}} || {{apitype|[[ field.type ]][% if field.value is defined %]?[% if field.value != 'nil' %]|default=[[ field.value ]][% endif %][% endif %]}} || [[ field.comment ]]
[%- endfor %]
[%- else %]
! Value !! Field !! Description
[%- for field in data.fields %]
|-
| [[ field.value ]] || {{apiname|[[ field.name ]]}} || [[ field.comment ]]
[%- endfor %]
[%- endif %]
|}</onlyinclude>

[%- if data.comment | length > 0 %]
==Details==
[[ data.comment ]]
[%- endif %]
